<!DOCTYPE html>
<html>
<head>
  <title>Craigslist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<nav>

  <% if logged_in? %>

    <li><%= link_to "Log Out", users_logout_path %></li>

  <% else %>
    <li><%= link_to "Register", users_new_path %></li>
    <li><%= link_to "Log In", users_login_path %></li>

  <% end %>
</nav>
<body>

<%= yield %>

</body>
</html>
